html {
  overflow-y: scroll; }

body {
  color: #241412;
  font: normal normal normal 13px/19px "PT Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  height: 100%;
  padding-bottom: 1px; }

a:link, a:visited, a:active, a:hover {
  color: #d00;
  text-decoration: none; }

a:hover {
  color: #e57373; }

pre, cite {
  font: normal normal normal 12px/18px "Consolas", "Bitstream Vera Sans Mono", Courier, monospace; }

cite {
  padding: 2px 4px;
  background: #ECEAEA;
  color: #533D3A;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

h1, h2, h3, h4, h5, h6, strong {
  font-weight: bold; }

div#wrapper {
  margin: 0px auto;
  position: relative;
  width: 700px; }

div#header {
  display: inline;
  float: left;
  padding: 30px 0px 25px 200px;
  width: 500px; }
  div#header h3 {
    line-height: 1;
    margin: 0px 0px 10px;
    padding: 0px;
    width: 500px; }
    div#header h3 a {
      color: #777;
      font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
      display: block;
      font-size: 24px;
      text-decoration: none; }
      div#header h3 a span {
        color: #333; }
  div#header p {
    color: #777;
    line-height: 1;
    margin: 0px;
    padding: 0px; }

div#nav {
  border-top: 1px solid #EEE;
  display: inline;
  float: left;
  margin: 10px 0px 0px;
  padding: 10px 0px 0px;
  width: 500px; }
  div#nav ul {
    float: left;
    margin: 0px 0px 5px;
    padding: 0px; }
    div#nav ul li {
      display: inline;
      float: left;
      margin: 0px 10px 0px 0px; }
      div#nav ul li a {
        color: #777;
        background: #EEE;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-bottom: 1px solid #777;
        border-right: 1px solid #aaa;
        display: block;
        float: left;
        line-height: 1;
        padding: 4px 5px;
        text-decoration: none;
        vertical-align: middle; }
      div#nav ul li a:hover {
        background: #ddd; }

div#content {
  display: inline;
  float: left;
  padding: 0px 0px 10px;
  width: 100%; }

div#main {
  display: inline;
  float: left;
  margin: 0px 30px 0px 0px;
  width: 700px; }

div.post {
  margin: 0px 0px 30px;
  padding: 0px 0px 0px 200px;
  text-align: justify; }
  div.post div.side {
    float: left;
    margin: 0px 0px 0px -200px;
    width: 170px;
    text-align: right; }
    div.post div.side a {
      color: #777;
      background: #eee;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-bottom: 1px solid #777;
      border-right: 1px solid #aaa;
      line-height: 2.5;
      padding: 4px 5px;
      text-decoration: none;
      vertical-align: middle; }
    div.post div.side a:hover {
      background: #ddd; }
    div.post div.side sup {
      color: #228b22;
      vertical-align: top; }
  div.post div.title {
    padding-bottom: 10px; }
    div.post div.title h1 {
      font-size: 20px;
      line-height: 1.4;
      float: left; }
      div.post div.title h1 sup {
        color: #6495ed;
        font-size: 14px;
        font-weight: normal;
        vertical-align: top; }
    div.post div.title .yashare-auto-init {
      float: right; }
    div.post div.title .clear {
      clear: both; }
  div.post div.body {
    font-size: 14px;
    line-height: 1.4; }
    div.post div.body h2 {
      font-size: 16px;
      line-height: 2; }
    div.post div.body p, div.post div.body pre, div.post div.body ul {
      margin: 0px 0px 10px; }
    div.post div.body p em {
      font-style: italic; }
    div.post div.body ul {
      margin: 0 0 15px; }
    div.post div.body ul li:before {
      position: absolute;
      margin-left: -15px;
      color: #aaa;
      content: '-';
      font-size: 14px; }
    div.post div.body ol {
      margin: 0 0 15px;
      counter-reset: list; }
    div.post div.body ol li:before {
      position: absolute;
      margin-left: -30px;
      width: 20px;
      color: #aaa;
      text-align: right;
      counter-increment: list;
      content: counter(list) "."; }

div#footer {
  border-top: 1px solid #EEE;
  clear: both;
  display: inline;
  float: left;
  margin: 0px 0px 0px 200px;
  padding: 10px 0px 50px 0px;
  width: 500px; }
